# =========================
# Python (Backend)
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
.env
.venv/
myvenv/
venv/

# =========================
# FastAPI / Logs
# =========================
*.log

# =========================
# Node / Frontend
# =========================
node_modules/
dist/
build/
.vite/

# =========================
# Environment files
# =========================
.env.*
!.env.example

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Git
# =========================
*.swp
